<!-- This renders the detail page of each task -->

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            body {
                background-color: linen;

            }

        .btn {
            background: #3498db;
            border-radius: 28px;
            color: #ffffff;

        }

            </style>
</head>

<nav class="navbar navbar-inverse">
    <a href="/tasks/"> <h2> All tasks </h2> </a>
</nav>




<h1>{{item.title}}</h1>

{% if item.completed == False %}
<form action='/tasks/{{item.id}}/detail/' method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" class="btn">
</form>
{% endif %}
